.square {
    display: inline-block;
    width: 64px;
    height: 64px;
    border: 1px solid black;
}

.player {
    border-radius: 50%;
    background-color: tomato;
    width: 48px;
    height: 48px;
}

.obstacle {
    background-color: red;
}

.shelf {
    background-color: cornflowerblue;
}

.goal {
    background-color: pink;
}