.square {
    display: inline-block;
    width: 64px;
    height: 64px;
    outline: 5px solid black;
    margin: 4px
}

.square.active {
    outline: 5px solid limegreen;
}

.player {
    border-radius: 50%;
    background-color: tomato;
    width: 48px;
    height: 48px;
}

.obstacle {
    background-color: red;
}

.shelf {
    background-color: cornflowerblue;
}

.goal {
    background-color: pink;
}