.square {
    display: inline-block;
    width: 70px;
    height: 70px;
    outline: 5px solid black;
    margin: 4px
}


.square.active {
    outline: 5px solid limegreen;
}

.currentPlayer {
    background-color: tomato;
}

.otherPlayer {
    background-color: blueviolet;
}

.obstacle {
    background-color: red;
}

.shelf {
    background-color: rgb(0, 159, 202);
}

.goal {
    background-color: pink;
}
